<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css"> <!-- 피씨버전 -->
  <link rel="stylesheet" href="css/responsive.css"> <!-- 모바일버전 반응형 -->
  <title> AFG EVENT </title>
</head>

<body>
<div class='container' >
  <div class="column" id="headColumnID" style="background-color : #1A4BC6; align-items: left">
    <br></br>
    <strong class="point" style="line-height: 22px;">단 1분,</strong>
    <br></br>
    <strong class="point" style="line-height: 12px;">간단한 설문으로</strong>
    <br></br>
    <strong class="point" style="line-height: 12px;">건강검진을</strong>
    <br></br>
    <strong class="point" style="line-height: 22px;">지원해드립니다.</strong>
    <br></br>
    <button class="startbtn" onclick="callStart()" style="margin-right: 20px; ">설문조사 시작</button>
    <br></br>
  </div>
  <div>
    <img src="images/01.jpg" style="width: 100%;">
  </div>
  <div class="column" style="background-color : #1A4BC6; align-items: center;" >
    <br></br><br></br><br></br>
    <strong class="point">단 1분,</strong>
    <br></br><br></br>
    <strong class="point" >간단한 설문으로</strong>
    <br></br>
    <strong class="point">건강검진을</strong>
    <br></br>
    <strong class="point">지원해드립니다.</strong>
    <br></br><br></br>
    <button class="startbtn" onclick="callStart()">설문조사 시작</button>
    <img src="images/logo.jpg" style="width:100%; margin-top: 80px;"> 
  </div>

</div>

<script>

function callStart() {
    window.location.href = '/main/survey';
}

</script>

</body>
</html>