@charset "utf-8";

@media all and (max-width: 768px){

    .column {
      height: 568px; 
    }

    .headColumn {
      display: show;
    }

    .container {
      display : flex;
      flex-flow: column wrap;
    }

    #headColumnID{
      display: flex;
      flex-flow: column wrap;
     }

    .point {
      font-size: 24pt;
      color: #FFF;
      text-align: middle;
      margin-left: 40px;
    }

    .startbtn {
      border: 4px solid white;
      background-color: #1A4BC6;
      padding-top: 10pt;
      padding-left: 40pt;
      padding-right: 40pt;
      padding-bottom: 10pt;
      cursor: pointer;
      font-size: 24pt;
      color: white;
      text-align: center;
      font-weight: bold;
      margin-left: 40px;
    }

    .text {
      font-size: 12pt;
    }
  }

